/* Estilos específicos del navbar */
.navbar {
  text-decoration: none;
  background-color: #333;
  color: #fff;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex; /* Hacer la barra de navegación un contenedor flex */
  justify-content: space-between; /* Alinear los elementos a los extremos */
  align-items: center; /* Centrar verticalmente los elementos */
}

.auth-buttons {
  display: flex; /* Convertir el contenedor de botones en un contenedor flex */
  justify-content: center; /* Centrar los elementos horizontalmente */
  align-items: center; /* Centrar los elementos verticalmente */
}

.auth-buttons a {
  background-color: #0077b7;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 5px; /* Agregar margen entre los botones */
}

.auth-buttons a:hover {
  background-color: #005587;
}
