* {
    box-sizing: border-box;
  }
  body {
    font-family: Arial, Tahoma, sans-serif;
  }
  .control-buttons {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: 	#5200ff;
  }
  .control-buttons span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color:#ea33ff;
    color: #FFF;
    padding: 15px 25px;
    font-size: 30px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
  }
  .info-container {
    width: 1080px;
    
    background-color: #F6F6F6;
    padding: 20px;
    font-size: 24px;
    overflow: hidden;
   
  }
  .info-container {
    margin-top: 20px; 
    margin: 80px auto 0;
  }
  
  .info-container .name {
    float: left;
    width: 50%;
  }
  .info-container .tries {
    float: right;
    width: 50%;
    text-align: right;
  }
  .memory-game-blocks {
    display: flex;
    width: 1100px;
    flex-wrap: wrap;
    margin: 20px auto;
  }
  .memory-game-blocks.no-clicking {
    pointer-events: none;
  }
  .memory-game-blocks .game-block {
    height: 200px;
    transition: transform .5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    flex: 1 0 200px;
    margin: 0 10px 20px;
  }
  .memory-game-blocks .game-block .front {
    background-color: #240090;
    line-height: 200px;
  }
  .memory-game-blocks .game-block .front:before {
    content: '!';
    color: #f4661b;
    font-size: 140px;
    font-weight: bold;
  }
  .memory-game-blocks .game-block .back {
    background-color: #607D8B;
    transform: rotateY(180deg);
  }
  .memory-game-blocks .game-block .back img {
    width: 140px;
    height: 140px;
    margin-top: 30px;
  }
  .memory-game-blocks .game-block .face {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    border: 5px solid #2196F3;
  }
  .memory-game-blocks .game-block.is-flipped,
  .memory-game-blocks .game-block.has-match {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
    pointer-events: none;
  }

.rowCronometro {
  display: flex; /* Usamos flexbox */
  justify-content: center; /* Alineamos los elementos horizontalmente en el centro */
  align-items: center; /* Alineamos los elementos verticalmente en el centro */
  gap: 10px; /* Espacio entre los elementos */
}

  


/* Estilos específicos del navbar */
.navbar {
  background-color: #00adff;
  color: #fff;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex; /* Hacer la barra de navegación un contenedor flex */
  justify-content: space-between; /* Alinear los elementos a los extremos */
  align-items: center; /* Centrar verticalmente los elementos */
}

.auth-buttons {
  display: flex; /* Convertir el contenedor de botones en un contenedor flex */
  justify-content: center; /* Centrar los elementos horizontalmente */
  align-items: center; /* Centrar los elementos verticalmente */
}

.auth-buttons a {
  text-decoration: none;
  background-color: #240090;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 5px; /* Agregar margen entre los botones */
  color: #fff;
}

.auth-buttons a:hover {
  background-color: #ea33ff;
}

/* Estilos específicos del footer */
.foot{
  position: fixed;
  margin-top: 15px ;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color:#ea33ff;
 
}
.foot p{
  color: white;
  padding: 15px;
}
.container {
  display: flex; /* Convertir el contenedor en un contenedor flex */
  align-items: center; /* Alinear los elementos verticalmente */
  justify-content: space-between; /* Distribuir los elementos horizontalmente */
  width: 100%;
  background-color: #f6f6f6;
  padding: 20px;
  font-size: 24px;
  border: 2px solid #2196f3;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.name {
  font-weight: bold;
}

.row {
  display: flex; /* Convertir la fila en un contenedor flex */
  align-items: center; /* Alinear los elementos verticalmente */
}

.cronometro {
  width: 100px;
  text-align: center;
  margin: 5px;
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
}

.tries {
  font-style: italic;
  color: #666;
}
